
:root{
    /* GOV.UK core colours */
    --govuk-text-colour :#0b0c0c;
    --govuk-secondary-text-colour: #505a5f;
    --govuk-link-colour: #1d70b8;
    --govuk-link-hover-colour: #003078;
    --govuk-link-visited-colour: #4c2c92;
    --govuk-link-active-colour: #0b0c0c;
    --govuk-border-colour: #b1b4b6;
    --govuk-input-border-colour: #0b0c0c;
    --govuk-focus-colour: #ffdd00;
    --govuk-focus-text-colour: #0b0c0c;
    --govuk-error-colour: #d4351c;
    --govuk-brand-colour: #1d70b8;
    /* GOV.UK colour palette */
    --govuk-colour-red: #d4351c;
    --govuk-colour-yellow: #ffdd00;
    --govuk-colour-green: #00703c;
    --govuk-colour-blue: #1d70b8;
    --govuk-colour-dark-blue: #003078;
    --govuk-colour-light-blue: #5694ca;
    --govuk-colour-purple: #4c2c92;
    --govuk-colour-black: #0b0c0c;
    --govuk-colour-dark-grey: #505a5f;
    --govuk-colour-mid-grey: #b1b4b6;
    --govuk-colour-light-grey: #f3f2f1;
    --govuk-colour-white: #ffffff;
    --govuk-colour-light-purple: #6f72af;
    --govuk-colour-bright-purple: #912b88;
    --govuk-colour-pink: #d53880;
    --govuk-colour-light-pink: #f499be;
    --govuk-colour-orange: #f47738;
    --govuk-colour-brown: #b58840;
    --govuk-colour-light-green: #85994b;
    --govuk-colour-turquoise: #28a197;
    /* Text variables */
    --govuk-max-width-text: 810px;
    --govuk-max-width-inset: 700px;
}

.govuk-width-container {
    margin-left: max(50px, calc(15px + env(safe-area-inset-left)));
    margin-right: max(100px, calc(15px + env(safe-area-inset-left)));
    max-width: 1920px;
}

.govuk-body p {
    max-width: min(100%, var(--govuk-max-width-text));
}

td, th {
    max-width: min(100%, var(--govuk-max-width-text));
}

.govuk-body li {
    max-width: min(100%, var(--govuk-max-width-inset));
}

.govuk-inset-text {
    max-width: min(100%, var(--govuk-max-width-inset));
}

.govuk-header__product-name {
    padding-left: 10px;
}

.govuk-footer__copyright-logo {
    background-image: none;
}

.dashboard-container {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 200px auto;
}

.dashboard-nav {
    grid-column: 1;
}

.dashboard-content {
    grid-column: 2;
}

.sidebar-nav {
    overflow-y: scroll;
    height: calc(100vh - 200px);
    position: sticky;
    top: 20px;
}

.nav-section,
.nav-item {
    line-height: 1rem;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-section {
    margin-top: 5px;
    padding-left: 15px;
}

.nav-active-section {
    background-color: var(--govuk-colour-light-grey);
    border-left: 5px solid var(--govuk-colour-dark-grey);
    padding-left: 10px;
}

.nav-section:hover {
    border-left: 5px solid var(--govuk-colour-mid-grey);
    padding-left: 10px;
}

.nav-active-section:hover {
    border-left: 5px solid var(--govuk-colour-dark-grey);
    padding-left: 10px;
}

.nav-section a {
    font-weight: 700;
    color: var(--govuk-secondary-text-colour);
    text-decoration: none;
}

.nav-item {
    padding-left: 30px;
}

.nav-active-item {
    background-color: var(--govuk-colour-light-grey);
    border-left: 5px solid var(--govuk-link-colour);
    padding-left: 25px;
}

.nav-item:hover {
    border-left: 5px solid var(--govuk-colour-light-blue);
    padding-left: 25px;
}

.nav-active-item:hover {
    border-left: 5px solid var(--govuk-link-colour) !important;
    padding-left: 25px;
}

.nav-item a {
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: none;
    color: var(--govuk-link-colour);
}

.nav-active-item a {
    font-weight: 700;
}

.govuk-header__logo {
    width: 80%;
}

.govuk-summary-list {
    max-width: min(100%, var(--govuk-max-width-text));
}

aside#page_toc {
    width: fit-content;
    border: 1px solid var(--govuk-border-colour);
    padding: 1em;
    padding-right: 2em;
}

.toc-header {
    color: var(--govuk-secondary-text-colour);
    font-weight: 700;
}

ul.toc-list {
    list-style-type: none;
    padding-left: 1em;
    margin: 0px;
}

ul.toc-list ul.toc-list {
    list-style-type: none;
    padding-left: 2em;
}

.toc-list li {
    padding-top: 5px;
}

.toc-list li:before {
    content: ">";
    padding-right: 0.4em;
    color: var(--govuk-secondary-text-colour);
    font-size: 0.8rem;
}

.toc-list a {
    color: var(--govuk-secondary-text-colour);
}

figure {
    margin-left: 0px;
    margin-right: 0px
}