.dataTable {
  margin-bottom: 10px !important;
}

.dataTable tr {
  background-color: unset !important;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 0.25em !important;
}

.dataTable th, .dataTable td {
  padding-left: 0px !important;
  padding-right: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.DataTables_sort_icon {
  margin: unset !important;
  position: unset !important;
  right: unset !important;
}

.sorting_asc .DataTables_sort_icon::after {
  content: "▲";
  font-size: 0.8rem;
  padding-left: 0.2rem;
}

.sorting_desc .DataTables_sort_icon::after {
  content: "▼";
  font-size: 0.8rem;
  padding-left: 0.2rem;
}

.dataTables_filter {
  margin-bottom: 10px;
}

.dataTables_filter label {
  text-align: left !important;
}

.dataTables_filter input {
  margin-left: 0px !important;
  margin-top: 5px !important;
}

.dt-buttons button {
  margin-bottom: 10px !important;
  border: 0;
  background-color: var(--govuk-colour-green);
  cursor: pointer;
}

.dt-buttons button.buttons-copy {
  background-image: url("../assets/images/content_copy_white_18dp.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 5px 5px;
  padding-left: 30px;
  min-height: 30px;
}

.dt-buttons button.buttons-csv {
  background-image: url("../assets/images/file_download_white_18dp.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 5px 5px;
  padding-left: 30px;
  min-height: 30px;
}

.govuk_dt_table {
  overflow-x: scroll;
}

.govuk_dt_nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.govuk_dt_nav > div {
  margin-bottom: 10px;
}

.govuk_dt_nav .dataTables_paginate .ui-button {
  padding: 5px 8px !important;
  margin: 0px 2px !important;
}

.govuk_dt_nav .dataTables_paginate .ui-button:first-of-type {
  margin-left: 0px !important;
}

.data-card {
  background-color: var(--govuk-colour-light-grey);
  padding: 5px;
}

.filter-controls {
  padding-top: 15px;
}

div.selectize-input {
  border: 2px solid #000 !important;
  border-radius: 0px !important;
  margin-bottom: 1rem !important;
}

.crosstalk-input label {
  padding-bottom: 10px;
}

/*
.selectize-dropdown>.option {
  font-size: 0.875rem !important;
  color: #0b0c0c !important;
}

.selectize-dropdown .option.active {
  font-weight: 700 !important;
  color: #144e81 !important;
  background: #d2e2f1 !important;
}

.selectize-dropdown .option.selected {
  font-weight: 700 !important;
  color: #0b0c0c !important;
}

.selectize-dropdown .option.selected.active {
  color: #0b0c0c !important;
  background: #eff0f1 !important;
}

div.selectize-input.items>div {
  font-size: 0.875rem !important;
  color: #0b0c0c !important;
  background: #eff0f1 !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}
*/