<!-- sidebar start -->
<nav class="sidebar-nav">

        <!-- Set check references -->
        {{ $currentPage := . }}
        {{ $active := "" }}

        <!-- Get site sections -->
        {{ $site_sections := .Site.Sections }}

        <ul class="govuk-list">

                <!-- Loop through section -->
                {{ range sort $site_sections ".Params.Weight" }}

                {{ $currentSection := . }}

                <!-- Current page is current section page-->
                {{ if eq $currentPage . }}
                <li class="nav-section nav-active-section nav-current"><a class="govuk-!-font-size-16" href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
                {{ else }}

                <!-- Page in current section / not in current section-->
                {{ if eq $currentSection.Section $currentPage.Section }}
                <li class="nav-section nav-active-section"><a class="govuk-!-font-size-16" href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
                {{ else }}
                <li class="nav-section"><a class="govuk-!-font-size-16" href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
                {{ end }}
                {{ end }}

                <!-- Loop through section pages by weight and then title -->
                {{range .Pages.GroupBy "Weight" }}
                {{range .Pages.ByTitle }}

                <!-- Only show page if in current section -->
                {{ if eq $currentSection.Section $currentPage.Section }}

                <!-- highlight if descendent of page or page itself -->
                {{ if $currentPage.IsDescendant . }}
                <li class="nav-item nav-active-item"><a
                                class="govuk-!-font-size-14 govuk-link govuk-link--no-visited-state "
                                href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ else if eq $currentPage . }}
                <li class="nav-item nav-active-item"><a
                                class="govuk-!-font-size-14 govuk-link govuk-link--no-visited-state "
                                href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ else }}
                <li class="nav-item"><a class="govuk-!-font-size-14 govuk-link govuk-link--no-visited-state"
                                href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}

                {{ end }}

                {{ end }}
                {{ end }}

                {{ end }}

        </ul>

        <!-- Add secdonary menu if exists -->
        {{ with .Site.Menus.secondary }}

        <ul class="govuk-list nav-extra">

        {{ range . }}
                <li class="nav-item {{ if $currentPage.IsMenuCurrent "secondary" . }}nav-active-item{{ end }} nav-about"><a
                                class="govuk-!-font-size-14 govuk-link govuk-link--no-visited-state"
                                href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}

        </ul>

        {{ end }}

</nav>