<div class="data-card summary-card govuk-grid-column-{{ .Get "width" }}">
    <div class="summary-body">
        <div class="govuk-heading-s govuk-!-margin-bottom-0">{{ .Get "title" }}</div>
        <div class="summary-info">
            <div class="govuk-!-font-size-48 govuk-!-font-weight-bold">{{ .Get "value" }}</div>
            {{ with .Get "change" }}<div class="govuk-caption-xl govuk-!-font-size-27">{{ . }}</div>{{ end }}
        </div>
    </div>
    {{ with .Get "source"}}
    <div class="summary-source govuk-!-font-size-16 govuk-!-margin-bottom-0">{{ . | markdownify }}</div>
    {{ end }}
</div>